
body{
    font-family: "Montserrat";
}

h1{
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h2{
    font-size: 3rem;
}

h3{
    font-weight: bold;
    font-size: 2.5rem;
}

#title{
    color: #fff;
    background-color: #3E92CC;
}

.mainBody{
    background: #f5f5f5;
}

/* Navigation bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 20px;
}

.nav-link{
    font-size: 1.5rem;
    font-family: "montserrat";
}

.container-fluid{
    padding: 3% 15%;
}

#navHeader{
    background-color: #3E92CC;
}

/* Title chart image */

.mainChart{
    font-size: 25rem;
    padding-left: 120px;
    padding-bottom: 200px;
}

.background{
    background-color: #3E92CC;
}

/* get-started-button */

.get-started-button{
    margin: 10% 3% 3% 0;
    font-size: 1.7rem;
}

/* Fetures */

.fetures{
    padding: 10% 10% 10% 10%;
    text-align: center;
}

.feture-icon{
    padding-bottom: 50px;
    font-size: 6.5em;
}

.feture-icon:hover{
    color: #3E92CC;
}


.feture-text{
    font-size: 1.5rem;
    color: #1E1B18;
}

/* footer */

#footer{
    font-family: "Montserrat";
    background-color: #3E92CC;
    padding-bottom: 0;
}

.footer{
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}

.about{
    font-family: Verdana;
}



/* contact */

.contact{
    padding: 15vh 15vh;
    text-align: center;
    font-family: Verdana;
}

/* about */

.about{
    padding: 15vh 15vh;
    font-family: "Montserrat";
    text-align: center;
}

.about-text{
    font-size: 1.5rem;
}


/* dashboard  */

#dashBody{
    background-color: #f5f5f5;
}

.chart{
    background-color: #f5f5f5;

}

.dash{
    color: #1E1B18;
    background-color: #f5f5f5;
}


/* Register */


#registerBody {
    display: flex;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
  

