<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="header">
        <h1>Moniter Final year proejct</h1>
        <h3>By Emmett Cowan</h3>
    </div>
    <section class="get">
        <h3>Geta data base info</h3>
        <div>
           <form action="/getDb" method="POST">
               <label>Request database info</label>
               <input type='submit' value="request">
           </form>
        </div>
    </section>
    <div style="background-color: aquamarine;">
        <p1 id="db">{{ db }}</p1>>
    </div>
</body>
</html>
