<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> Home </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="message-box">
    <h1 id="welcome-message">Welcome To Monitor</h1>
    <p>A time management system</p>
    <hr>
  </div>
  <div class="mainButtons">
    <form method="get" action="/register">
      <button class="LRbuttons" type="submit">Register</button>
    </form>
    <div class="divider"></div>
    <form method="get" action="/login">
      <button class="LRbuttons" type="submit">Login</button>
    </form>
  </div>
</body>
</html>