<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="header">
        <h1>Moniter Final year proejct</h1>
        <h3>By Emmett Cowan</h3>
    </div>
    <div style="background-color: aquamarine;">
        <p1> Basic nodejs server running </p1>
    </div>
</body>
</html>
