<!DOCTYPE html>
<html lang="en">
<head>
  <title> Private </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="images/favicon.ico">
</head>

<body>
  <div class="header">
      <h1>Welcome To Monitor</h1>
      <p>A time management system</p>
  </div>
  <div>
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="dashboard">User Page</a></li>
      <li><a href="register">Register</a></li>
      <li><a href="login">Login</a></li>
      </ul>
  </div>
  <div class="message-box">
    <h1>Hello {{name}}</h1>
    <h2>This is a private area</h2>
    <h3>Only you can see it</h3>
  </div>
</body>
</html>