<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="images/favicon.ico">
  <title>Register</title>
</head>
<body>
    <div class="header">
        <h1>Monitor</h1>
    </div>
    <div>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="dashboard">User Page</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="login">Login</a></li>
        </ul>
    </div>
    <div>
        <form id="logForm" action="/register" method="POST">
    <div>
        <h3>Register</h3>
        <label for="name">Name</label>
        <input id="Uname"  type="text" id="name" name="name" required>
    </div>
    <div>
        <label  for="password">Password</label>
        <input id="Pass" type="password" id="password" name="password" required>
    </div>
        <button class="button" type="submit">Register</button>
        </form>
        
    </div>
</body>
</html>